body {
  background: #fff;
}

h1 {
  text-align: center;
}

section {
  box-sizing: border-box;
  max-width: 1120px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

img {
  cursor: pointer;
}

article {
  text-align: center;
}

.color-select {
	display: flex;
	justify-content: center;
}

.color-select > span {
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.modalWrapper{
	display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 8px;
  background: #ffff;
  height: 460px;
  width: 810px;
  overflow: auto;
  position: absolute;
	border-radius: 5px;
	display: none;
}

.screenshot-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 8px;
  background: #ffff;
  height: 460px;
  width: 810px;
  overflow: auto;
  position: absolute;
	border-radius: 5px;
	display: none;
}

.overlay {
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  padding-top: 100px;
  background: rgb(0 0 0 / 95%);
  display: none;
}

.screenshot-wrapper canvas {
  transform: scale(0.7);
}

.tier-champions-container {
  display: flex;
  flex-wrap: wrap;
}

.tier-container {
  border: 1px solid;
}

.tier-row {
  display: flex;
  border-bottom: 2px solid;
}

.tier-row:nth-last-child(1) {
  border-bottom: none;
}

.tier-sort {
  display: flex;
  flex-wrap: wrap;
  background: #1a1a17;
  min-height: 80px;
}

.tier-rank {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.tier-sort {
  flex: 10
}

.tier-config {
  display: flex;
  flex: 1;
  align-items: center;
  background: #000000;
}

.btn {
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}

.btn-show {
  border: none;
  border-radius: 25px;
  background: #000000;
  padding: 15px 25px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  outline: none;
  cursor: pointer;
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.btn-download {
  margin-top: 15px;
  border: none;
  background: #efefef;
  padding: 10px 20px;
  border-radius: 6px;
  color: #333;
  cursor: pointer;
  outline: none;
}

.fa {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 35px;
  color: #ffff;
  padding-left: 5px;
}

.fa-chevron-up,
.fa-chevron-down {
  font-size: 20px;
}

.row1 {
  background: rgb(255, 127, 127);
}

.row2 {
  background: rgb(255, 191, 127);
}

.row3 {
  background: rgb(255, 223, 127);
}

.row4 {
  background: rgb(255, 255, 127);
}

.row5 {
  background: rgb(191, 255, 127);
}


/*css api*/

.active {
  display: flex;
}

.inactive {
  display: none;
}

.selected {
	border: 2px solid;
}